{% load static %}


<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="{% static 'js/comment2.js' %}"></script>


   <div class="modal-header">


   </div>

   <h4 class="modal-title">comments</h4>


   <div class="modal-body">
    {% if request.user.is_authenticated %}
    <p>
        <button id="modalBtnClick" type="button" data-url="{% url 'new-comment' %}" class="btn btn-primary js-create-book">
          <span class="glyphicon glyphicon-plus"></span>
          New comment
        </button>
      </p>
      {% endif %}

   <table class="table" id="book-table">
    <thead>
      <tr>
        <th>description</th>
        <th>Author</th>
        <th>{{ article.pk }}</th>
     
 
      </tr>
    </thead>
    <tbody>
     {% include 'accounts/modal_comment_list.html' %}
    </tbody>
  </table>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" id="closeComments" data-dismiss="modal">Close</button>
  </div>

  <div class="modal fade" id="modal-book">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>



